<div style="margin-top: -105px">
    <div class="row justify-content-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius: 16px 0 0 16px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-journal-code"></i>
            <h3>Back-end</h3>
            <p>
                Trabajo en mantenimiento y desarrollo de aplicaciones
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                C#/ASP .Net Core y SQL Server
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>Web Api's</li>
                <li>ASP .Net Core</li>
                <li>Entity Framework Core</li>
            </ul>
        </div>
        <div class="col col-3 bg-white habilidades" style="border-radius: 0 16px 16px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-eyeglasses"></i>
            <h3>Front-end</h3>
            <p>
                Me encuentro aprendiendo tecnologias y maquetación.
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                HTML, CSS Y JavaScript
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>HTML</li>
                <li>Bootstrap</li>
            </ul>
        </div>
    </div>
</div>
